@import 'partials/shared/config';
@import 'partials/nav';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/main';



.container-grid {
    display: grid;
    margin:0 auto;

    .navigation {
        grid-area: nav;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }
}