@import '../sass/partials/others/config';
@import '../sass/partials/html_elements/Nav/nav';
@import '../sass/partials/html_elements/header/header';
@import '../sass/partials/html_elements/footer/footer';
@import '../sass/partials/html_elements/main/main';



.container-grid {
    display: grid;
    margin:0 auto;

    .navigation {
        grid-area: nav;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }
}