@import 'shared/colors';
@import 'shared/text';

.footer {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: $mine-shaft;

    &__p {
        color: white;
        font-size: map-get($text_size, "normal");
        padding: 20px;

    }
}