@import 'shared/colors';
@import 'shared/text';

.header {
    width: 100%;
    height: 10rem;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    display: flex;
    justify-content: center;

    &-h1 {
        text-align: center;
        color: $mercury;
        align-self: center;
        font-size: map-get($text_size, "large");
        font-family: 'Times New Roman', Times, serif;
    }
}