@import 'shared/functions';
@import 'shared/colors';

// Media queryes for screen under 780px
@media screen and (max-width: 780px) {
    .navigation {
    width:100vw;
        // Span that make the left side of the navigation bar menu
        &-burger {
            visibility: visible;
            position: absolute;
            top: 40px;
            left: 30px;
            width: 50px;
            height: 2px;
            background: white;
            cursor: pointer;
            z-index: 1;
            @include transition-ease;

            &::before {
                content: "";
                background: white;
                position: absolute;
                top: -8px;
                left: 10px;
                width: 30px;
                height: 2px;
                @include transition-ease;
            }

            &::after {
                content: "";
                background: white;
                position: absolute;
                top: +8px;
                left: 10px;
                width: 30px;
                height: 2px;
                @include transition-ease;
            }

            // With JavaScript when the menu is open we are going to give it clas .open
            &.open {
                transform: rotate(720deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(4px, 8px);
                }

                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }

        .left-ul-nav{
            display: flex;
            position: relative;
            z-index: 3;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            height: 200vh;
            background-color: $mine-shaft;
            z-index: 300000;
            list-style-type: none;
            transform: translateY(+20%);
            overflow: hidden;
            @include transition-ease;
            visibility: hidden;
            

            &.open{
                visibility: visible;
                transform: translateY(0%);
               
            }

            &-li{ 
                visibility: hidden;
                @include transition-ease;
                width: 100%;
                border:1px solid $mercury;
                align-self: center;
                background: $mine-shaft;
                transform: translateX(-1000%);
                @include transition-ease;
               

                &.open{
                    visibility: visible;
                    transform: translateX(0%);
                }
            }
        }

        @for $i from 1 through 3 {
            .left-ul-nav-li:nth-child(#{$i}) {
                // For each li element to ease in in to the page 
                transition-delay: ($i * 0.2) + 0.15s;
            }
        }
    }
}